[2016-10-24 10:40] clayrat opened #2 "Unable to access default params with a custom config"
If you have a customized config file ala

[code]

you cannot use the default values anymore, because the default fallback config in the `*Config` objects for consumer/producer assumes that everything sits directly under `kafka` key.

One easy solution here is just to drop the `apply` version with a `rootPath`, and pass in subconfigs directly.

[2016-12-16 12:45] #2 closed

[2017-01-16 23:15] kdrakon opened #4 "Allow monix.kafka.Serializer and monix.kafka.Deserializer to provide instances manually"
In many cases, the reflective creation of standard (de)serializers is acceptable. However, in some circumstances, it would be desirable to still implicitly use `monix.kafka.Serializer` and `monix.kafka.Deserializer`, but rather define how the underlying classes should be instantiated. A driving use-case is with the Confluent.io (de)serializers, namely [those that use the Schema Registry Client as

[2017-01-18 16:07] alexandru commented on #4
@kdrakon thanks for the PR.

I can merge that, sure, see the small change suggested. Sorry for the delay, I've been busy, but after the PR is merged, we can release a new version.

[2017-01-18 22:46] kdrakon commented on #4
@alexandru NP, I'll make the suggested changes ASAP 👍

[2017-01-20 03:26] #4 closed

[2017-04-26 21:34] fpguy opened #6 "Offsets issue"
Hi,

I want that each time the inner function in `foreachL` crashes with exception, the offset to stay the same. It appears it doesn't work like this, changing the consumer group to something else will throw an error first time I run this code, as expected, but second time will work because `foreachL` is not called anymore since the record is already `consumed`.

What am I doing wrong?

Thank You,

[2017-05-04 11:05] pbvie opened #7 "Version 0.14 not published for Scala 2.12"
In maven central the latest version for `monix-kafka-10_2.12` seems to be 0.13

https://search.maven.org/#search%7Cga%7C1%7Cmonix-kafka

[2017-05-04 11:11] alexandru commented on #7
Argh, OK, not sure what went wrong, will fix.

[2017-05-04 11:19] pbvie commented on #7
Thanks for the quick reply! :slightly_smiling_face:

[2017-05-04 11:40] pbvie commented on #7
Is there some other repo that I could use in the meantime?

[2017-05-04 11:41] alexandru commented on #7
I'm publishing it right now. 0.13 should also work with Monix 2.3.0, since I kept binary compatibility.

[2017-05-04 11:45] alexandru commented on #7
OK, so I published the packages on Sonatype, should take about 5 minutes to synchronise to Maven Central.

Unfortunately this happened because this project uses the [sbt-doge](https://github.com/sbt/sbt-doge) plugin to specify different Scala versions, due to the Kafka 8 client not supporting Scala 2.12 😠 and well, it misfired.

[2017-05-04 11:49] pbvie commented on #7
Great! Thanks a lot! :slightly_smiling_face:

Btw, the reason I was asking for another repo was because `val observable =  KafkaConsumerObservable[String,String](consumerCfg, List("my-topic"), io)` didn't work for me in 0.13. But afaik the signature for `apply` looks the same for 0.14 so I guess it's just the readme that's slightly outdated(?) :wink:

[2017-05-04 11:51] alexandru commented on #7
@pbvie sorry, yes, it no longer has the `io` parameter. To get the same effect you can do:

[code]

[2017-05-04 11:53] alexandru commented on #7
Monix also has `asyncBoundary` (to jump the execution back to the default EC, which is usually `global`) and the latest version (2.3.0) also has `observeOn` which is an `asyncBoundary` that allows specifying a concrete EC.

Samples:

[code]

[2017-05-04 12:59] pbvie commented on #7
Thanks for the explanation!

[2017-05-04 13:15] #7 closed

[2017-05-19 16:28] pbvie opened #8 "[Question] Manual offset commit"
Is it possible to have fine control about when an offset is committed?

I've been looking at `ObservableCommitOrder` and `ObservableCommitType`. In `ObservableCommitType` it says "...specifies to do a commit before/after acknowledgement is received from downstream". Is there a way to manually signal an acknowledgement?

Or can I disable offset committing completely and call `consumer.commitSync()`

[2017-05-20 05:48] alexandru commented on #8
@pbvie unfortunately the exposed observable doesn't provide control for acknowledgement.

You could disable it like you're saying do that commit yourself.
And a suggestion for an API that provides this level of control would be cool.

The difficulty here is that in order for the downstream subscriber to do the acknowledgement, it would have to receive some kind of handle that does `consumer.commit

[2017-05-20 13:38] pbvie commented on #8
@alexandru Thanks! I think manually doing the commit should work fine for me. Is it enough to set `enable.auto.commit` to false to disable automatic commits completely?

The scaladoc in `ObservableCommitOrder` and `ObservableCommitType` sound to me like monix-kafka is still doing commits even if `enable.auto.commit` is disabled.

[2017-05-21 04:57] alexandru commented on #8
It's enough to set that value to false, the code uses it, see: https://github.com/monix/monix-kafka/blob/v0.14/kafka-0.10.x/src/main/scala/monix/kafka/KafkaConsumerObservable.scala#L60

[2017-05-22 21:08] pbvie commented on #8
Thanks! :+1:

[2017-05-22 21:08] #8 closed

[2017-05-29 16:44] clayrat opened #9 "Callback-accepting Sink/Observable?"
@alexandru
I feel it's a somewhat common scenario to want to do something after writing to Kafka - like send some sort of metrics for uploaded data, or acknowledge the write in some kind of a database. However, it seems this is not really possible with the existing facilities. Do you think we could write some kind of callback-accepting version of `KafkaProducerSink`s or even make an `Observable` v

[2017-10-04 15:47] clayrat opened #10 "Version for 0.11?"
Any idea how to deal with 0.11? I think none of the code needs changing, only `kafka-clients` should be bumped. Are we okay with duplicating the code, or is there a smarter solution?

[2017-10-08 07:24] #10 closed

[2017-10-26 10:13] Avasil opened #13 "Add option to disable commit behaviour"
It seems like it is not possible to disable commits from KafkaConsumerObservable because ```ObservableCommitOrder``` is always either ```isBefore``` or ```isAfter```

You can see that in [ObservableCommitOrder](https://github.com/monix/monix-kafka/blob/v0.14/kafka-0.10.x/src/main/scala/monix/kafka/config/ObservableCommitOrder.scala#L36) and [KafkaConsumerObservable](https://github.com/monix/monix-

[2017-10-26 10:22] alexandru commented on #13
👍

[2017-10-27 21:04] Avasil commented on #13
#14 is merged so I close this issue

[2017-10-27 21:04] #13 closed

[2017-11-03 10:14] goral09 opened #15 "Upgrade monix dependency"
Current monix dependency is `2.3.0`. Is it possible to upgrade it to `3.X` ?

[2017-11-03 11:25] alexandru commented on #15
Really sorry about the delay. Will publish a new Monix version and update `monix-kafka` as well this weekend.

Cheers,

[2017-11-03 20:50] goral09 commented on #15
Thanks, I was about to do that myself :) :+1:

[2017-11-08 10:04] Avasil opened #16 "kafka 1.0"
Kafka 1.0 has been released and it would be cool to support it. I could give it a try but I'm not sure how to include it, another subproject?

[2017-11-08 11:08] alexandru commented on #16
@Avasil thanks, you can give it a try.

Unfortunately it has to be another sub-project — hopefully with 1.0 they'll try keeping compatibility and we can get rid of the others in time.

[2017-11-15 10:11] goral09 commented on #15
@alexandru , any update on the release of new version?

[2017-11-21 11:55] alexandru commented on #16
Sorry for the delay @Avasil, a new version will be released soon.

[2017-11-24 16:26] goral09 opened #18 "kafka 0.9.0 client offset error"
Let me start with the output:
[code]

Even though I am not spending seconds between consecutive polls I am seeing `ILLEGAL_GENERATION` error which according to Internet gurus is thrown when kafka consumer group rebalances while I am spending time between polls.

[2018-01-04 19:43] jedossa opened #20 "Detecting Consumer Failures"
Kafka consumer documentation I modified KafkaConsumerObservable.runLoop as follows:
I have a case with unpredictable delay in the processing time of messages, following [Kafka consumer documentation](https://kafka.apache.org/0110/javadoc/org/apache/kafka/clients/consumer/KafkaConsumer.html)  I modified [KafkaConsumerObservable.runLoop](https://github.com/monix/monix-kafka/blob/master/kafka-0.11.x/

[2018-01-16 15:37] leandrob13 opened #22 "Add max.poll.interval to KafkaConsumerConfig"
We ran into a scenario using monix kafka where we needed to use the [Allow consumer to send heartbeats from a background thread](https://cwiki.apache.org/confluence/display/KAFKA/KIP-62%3A+Allow+consumer+to+send+heartbeats+from+a+background+thread) functionality but we were not able to tune the `max.poll.interval` to achieve our goal.

I can create a PR to address this asap.

[2018-01-16 15:40] alexandru commented on #22
👍

[2018-01-18 13:38] atiqsayyed opened #24 "[Question] How do you manually commit the offset after processing each record"
Hi,
I'm trying to achieve manual commit for each record, these are my settings
[code]
Following is my consumer Observable
[code]
It only commits the offset once it's done processing all the elements, not the batch of 5.
I want to commit every batch manually, is there a way todo this?

[2018-01-22 14:36] Avasil commented on #24
Hi,
Unfortunately there is no ```Observable``` like this (```monix-kafka``` is very light wrapper) but you could disable commits and do it manually with ```consumer.commitSync()```

You can create your own consumer using ```KafkaConsumerObservable.createConsumer()``` and there is ```KafkaConsumerObservable.apply``` accepting it in the constructor.

The easiest way to disable commits would be if @a

[2018-01-27 18:10] #22 closed

[2018-01-29 05:08] arlequin-nyc opened #25 "monix-kafka-11 not released"
First off thank you monix-kafka. We have been successfully using monix-kafka-9 for almost a year now, pulling 4M+ measurements/sec off of a Kafka cluster with no hiccups.

We are upgrading our internal clusters to Kafka 0.11 in the next few weeks and I noticed monix-kafka-11 was never released to mvnrepository:
https://mvnrepository.com/artifact/io.monix

Would this be possible? Was there a specif

[2018-01-29 07:04] Avasil commented on #25
I'll take a look as soon as I receive permission to push a new release and release current version (with 0.11) and then support for 1.0 soon after.

[2018-01-29 09:00] arlequin-nyc commented on #25
Excellent @Avasil thank you so much!

[2018-01-29 12:07] alexandru commented on #25
Sorry @arlequin-nyc for the delay, I've been strangled by available time, between work, monix (core) and family.

@Avasil you should now be approved to push to Sonatype. Also merge this PR first and see the RELEASES document: https://github.com/monix/monix-kafka/pull/26

[2018-01-29 12:17] alexandru opened #27 "MAINTAINER WANTED!"
My time is now consumed entirely by work, [monix](https://github.com/monix/monix), [cats-effect](https://github.com/typelevel/cats-effect), [funfix](https://github.com/funfix/funfix) and family and no longer have the capacity to maintain other projects.

`monix-kafka` has actual users and I could use some help in maintaining it.

@Avasil has kindly offered to help and he has been doing a good job,

[2018-01-29 12:41] #16 closed

[2018-01-29 12:42] leandrob13 commented on #27
@alexandru I volunteer.

[2018-01-29 13:24] alexandru commented on #27
@leandrob13 thanks, you're on 😀

[2018-01-30 05:07] arlequin-nyc commented on #25
@alexandru thank you for your prompt reply.
Happy to hear you manage to squeeze in some family time aside work/Monix. Looking forward to v3.0.

[2018-01-30 13:53] alexandru commented on #27
So we now have @leandrob13 and @Avasil as new maintainers. Closing this for now.

[2018-01-30 13:53] #27 closed

[2018-01-31 10:40] Avasil commented on #25
@arlequin-nyc
We have just released new version! :)

Try `libraryDependencies += "io.monix" %% "monix-kafka-11" % "0.15"`

Let us know if you have any issues

[2018-02-01 01:53] leandrob13 commented on #25
Closing this issue guys, given that the release is done.

[2018-02-01 01:53] #25 closed

[2018-02-01 04:13] arlequin-nyc commented on #25
Gentlemen (@Avasil @leandrob13 @alexandru), thank you very much!

[2018-02-06 08:31] mihaisoloi commented on #15
@goral09 You can follow #31 it's still a milestone release

[2018-02-06 08:42] mihaisoloi opened #32 "Kafka Streams API support"
Adding support for the Streams API[1] offers some benefits, and is well matched for Monix's strengths which would allow interoperability with the KStream DSL[2]. This could be implemented as a Monix KafkaStreamSubject in monix-kafka, as the Streams API is used for both consuming and publishing to topics.

[1] https://docs.confluent.io/current/streams/introduction.html#the-kafka-streams-api-in-a-nu

[2018-02-06 12:26] alexandru commented on #32
👍 but only if somebody commits to developing it

[2018-02-07 01:38] leandrob13 commented on #20
@jedossa Can you elaborate a bit more on the justification of these changes?

[2018-04-02 18:42] ryanworsley commented on #32
Any thoughts on how state stores would be handled within the API without leaking the Kafka Streams abstractions through? I'm keen to help as this is something I'm probably going to do professionally in the near future anyway.

[2018-04-03 22:17] benjumanji opened #36 "Confusion about the internals of ProducerSink"
I'd like to understand why we are suggesting an io scheduler and using the blocking version of send for the producer. I guess there must be a reason to prefer this over creating tasks that correspond to the completion of each send. Is it a performance thing? I think even if you didn't want to create a task per send you could happily create a callback that incremented a batch size and completed a s

[2018-04-08 03:08] leandrob13 commented on #32
@Avasil @ryanworsley any help is welcomed! I just started defining config and wrappers, it seems kind of straight forward after looking at KStream API but I don't know if `Iterant` should fit in some places.

Focused on some issues regarding `TaskLocal` in monix but I will be engaging in this shortly again. Waiting for some feedback and pointers for the first approach.

[2018-04-15 17:31] benjumanji commented on #36
Ok, having read some more now I am even more confused. In the sink we are using our _own_ version of the producer, which does use the async apis. Why do we need an io scheduler for that? What's wrong with the regular forkjoin? There is zero blocking that I can see?

[2018-04-15 18:01] Avasil commented on #36
Hi @benjumanji - sorry for the delay.

The blocking part is actually waiting for Kafka's callback to complete and it's mostly I/O bound

[2018-04-15 19:54] benjumanji commented on #36
Sorry if I being dense, but where in the code that do we block waiting for the callback?

[2018-04-15 20:07] Avasil commented on #36
In [KafkaProducer.send](https://github.com/monix/monix-kafka/blob/master/kafka-1.0.x/src/main/scala/monix/kafka/KafkaProducer.scala#L68) we construct `Task` whose completion is [signaled with callback from Kafka](https://github.com/monix/monix-kafka/blob/master/kafka-1.0.x/src/main/scala/monix/kafka/KafkaProducer.scala#L93) meaning that `Task` will run until it hears back from Kafka.

It's using l

[2018-05-06 17:45] benjumanji commented on #36
No, I totally see that. I wouldn't have thought however that the length of time that you wait to signal completion for a task has no bearing on the choice of scheduler. The actual work being dispatched by the scheduler is the same whether you get called back 10 microseconds or 10 minutes. No thread is blocked in the underlying threadpool. The only reason I would have thought to have a separate cac

[2018-05-16 17:35] velvia commented on #8
@alexandru we also have a need (in FiloDB) to completely disable the sync/commit code in monix-kafka.  The problem is that if enable.auto.commit is

true   - then monix-kafka does not commit, but Kafka driver itself does
false  - then monix-kafka itself commits

We need to truly allow this setting to be respected and turned off.  monix-kafka's own commit should be separated out IMO to allow for co

[2018-05-16 17:45] Avasil commented on #8
@velvia
Does #14 cover your use case?

If not we are open to any contributions. :)

[2018-05-17 05:45] velvia commented on #8
Thanks, yes it does. Is this in a released version?

On May 16 2018, at 10:46 am, Piotr Gawryś <notifications@github.com> wrote:

[2018-05-17 20:42] Avasil commented on #8
@velvia
It should be available in version 0.15 onwards

[2018-06-22 20:35] leandrob13 commented on #36
@benjumanji @Avasil I can tell you we just found out the hard way about this issue. I can lay it down so you could help me understand if it is related.

When having bad config for TLS, like setting the protocol to PLAINTEXT, the publishing of a message crashes our app with OOM. When testing with 10 concurrent users, we could see in visual vm 9 threads blocked and one alive before the crash. We are

[2018-07-06 14:33] benjumanji commented on #36
@leandrob13 I don't think this question is directly related, but if you haven't gotten to the bottom of your problem hit me up on keybase, I'd love to help if you have a sample application etc.

[2018-07-06 16:24] leandrob13 commented on #36
@benjumanji @Avasil It turns out we came across a bug hard to catch: https://issues.apache.org/jira/browse/KAFKA-4090

It sees it has never been addressed, it is an issue in the kafka client and has nothing to do with monix-kafka. I didn't really get why this happens and looking into the client's code does not help.

With the aide of visual vm, this issue helped me understand part of this discussi

[2018-07-06 16:46] benjumanji commented on #36
That bug is fun, I wander if they'd accept a special case on the plaintext listener that looks for the inital ssl handshake and explodes a bit more gracefully. As to the current discussion:

The only reason you ever want more java threads than you have cpu threads is that some threads will be idle, therefore to maximize cpu productivity you schedule enough threads that you always have some that ha

[2018-08-01 15:07] leandrob13 commented on #36
@benjumanji sorry to take so much to respond. Yes, the threads were blocked waiting for the problematic first thread to finish (which never did and killed the app with OOM).

[2018-08-10 18:43] lewapek opened #38 "Subscribing to topics regex support"
It seems like java consumer API has the option to pass regex as topics to subscribe to.
It would be nice to support this in monix. The simpliest solution is probably adding new methods to `KafkaConsumerObservable`.
I will come up with PR soon

[2018-10-12 18:34] yeenow123 opened #42 "Commit after all connected multicasted observables are finished processing a record"
I am creating multiple observables (per Kafka topic

`
val kafkaConsumerConfig = KafkaConsumerConfig.default.copy(
      bootstrapServers = kConfig.bootstrapServers,
      groupId = kConfig.groupId,
      enableAutoCommit = false,
      observableCommitOrder = ObservableCommitOrder.AfterAck,
      observableCommitType = ObservableCommitType.Sync,
      autoOffsetReset = AutoOffsetReset.Latest

[2018-10-12 18:46] yeenow123 commented on #42
The issue seems to stem from `Observable.merge`.  I tried `Observable.concat` and it seems to give me the functionality I need.  I guess the ordering semantics between the two operators are different, one being unorder vs ordered.

[2018-10-12 19:59] yeenow123 commented on #42
@Avasil

I copied partial code and made some typos changing names.  The `kafkaConsumerConfig` is passed into the `KafkaConsumerObservable` constructor.

As with my EDIT on my previous comment, `concat` only seems to start the first observable from the list of observables passed into `concat`

[2018-10-12 20:02] Avasil commented on #42
Probably the first `Obsevable` never ends, I'll see if I can reproduce your issue

[2018-11-13 18:48] sherwinschiu opened #47 "Use Apache Kafka Producer and Consumer Java Map Constructor instead of Properties"
Currently, when instantiating a new `KafkaProducer` and `KafkaConsumerObservable`, I've been running into inconsistent class not found exceptions, in particular the serializer classes. This is due to the inconsistencies of the classloaders paths, where sometimes the thread's classloader finds the class and sometimes it doesn't. The `KafkaProducer` and `KafkaConsumerObservable` passes the serialize

[2018-11-13 21:09] Avasil commented on #47
Feel free to make Pull Request from your branch and I think we can merge it. :) Thanks!

[2018-11-15 20:34] #47 closed

[2018-12-31 11:49] Avasil commented on #24
@poslegm
Addition like this would be greatly appreciated! If you create PR we can work out the implementation details. :)

[2019-01-17 16:57] poslegm opened #67 "Scalafmt config"
Is it possible to add scalafmt config to this repo like in the main monix [project](https://github.com/monix/monix/blob/master/.scalafmt.conf)?

There is a rule in contributing guidelines:

But it is difficult to follow it without formal description of code style.

I can take the job of adding a config and code base formatting.

[2019-01-17 17:48] Avasil commented on #67
There is one but IIRC it's not enabled because the configuration wasn't satisfying. Although it was a while ago and I don't mind giving it a shot here!

[2019-01-23 17:20] #67 closed

[2019-02-07 09:54] SkayLarsen opened #70 "Missing StackedCancelable push in KafkaProducer.send method"
There is a `val connection = StackedCancelable()` in `send` method of `KafkaProducer`, but as far as I can see it's used only for pop cancellables. Seems like `connection.push(cancelable)` is missing.

[2019-02-07 10:26] Avasil commented on #70
You're probably right, I'll fix it before next release, thanks!

[2019-03-10 14:16] borissmidt opened #75 "kafka 1.0 has support for time based offsets."
Kafka 1.0 and onward have time based offsets, Currently there is only a boolean which allows you to start from latest or not wen an observable starts.

I propose an extention to also support a starting point from now - a finit time.
And also an offset at a certain time point.

[2019-04-09 07:19] #36 closed

[2019-04-29 02:40] livelxw opened #81 "New release?"
Are there any plans for a new release? I think the manual commit might be useful

[2019-04-29 10:58] poslegm commented on #81
There is snapshot release with manual commits:
[code]

[2019-04-30 11:09] Avasil commented on #81
I will make a normal release today. Probably `1.0.0-RC2.1`, `Monix 3.0.0-RC3` might take a bit more time

[2019-04-30 23:48] Avasil commented on #81
@livelxw I've released `1.0.0-RC3`

[2019-04-30 23:48] #81 closed

[2019-06-28 18:20] poslegm opened #88 "Add fetch.max.bytes to KafkaConsumerConfig"
There is consumer [setting](https://kafka.apache.org/0110/documentation.html) `fetch.max.bytes` with default value `52428800` in kafka after 0.11.0 version. It's missed from `KafkaConsumerConfig`.

[2019-06-28 18:24] poslegm commented on #88
I will try to submit PR on the weekend

[2019-06-29 00:21] #88 closed

[2019-07-08 14:38] yeryomenkom opened #90 "Can I just provide a org.apache.kafka.common.serialization.Serializer instead of the library's one?"
Hi!
I can not get the point in having ```monix.kafka.Serializer```. Can you explain me why do I need it and why do you use that reflection approach? Can I use Serializers and Deserializers from the ```org.apache.kafka.common``` to create ```KafkaConsumerObservable``` and ```KafkaProducerSink```?

[2019-07-09 18:41] Avasil commented on #90
Hello!

I'm not sure to be honest. Personally I usually read `String` and then deserialize with `circe` or other library so didn't really look into it.

@alexandru do you remember anything about it? [Link for convenience](https://github.com/monix/monix-kafka/blob/master/kafka-1.0.x/src/main/scala/monix/kafka/Serializer.scala)

I think something like this should work:

[code]
(can be `implicit def`

[2019-07-16 15:23] yeryomenkom commented on #90
Can we at least have possibility to create ```KafkaProducerSink``` and ```KafkaConsumerObservable``` only with serializers/deserializers from ```org.apache.kafka.common```?

Because now I have to write something like that:
[code]
Instead of:
[code]

[2019-07-18 18:13] Avasil commented on #90
@yeryomenkom Sure, I will include it in the next release. Thanks for bringing it to my attention

[2019-07-31 19:16] voidconductor opened #93 "KafkaProducer send locks threads"
Monix `KafkaProducers`'s `send` is locking threads of scheduler when tasks are executed in parallel, e. g.

[code]

here's output of `async-profiler` with `-e lock` flag:
[code]

This happens because of synchronization on producer and leads to performance degradation due to thread locking and impossibility of parallel sending

Given that apache `KafkaProducer` is thead-safe and asynchoronous one c

[2019-08-01 19:11] voidconductor opened #94 "Manual commitAsync completes before actual commit"
In `KafkaCOnsumerObservableManualCommit.scala:56` there's incorrect implementation of async commit

[code]

Apache kafka `commitAsync(offsets, callback)` returns immediately and invokes callback when commit completes

this task completes when `consumer.commitAsync` returns, not when callback invoked and also ignores possible commit errors also passed through callback, it should probably be rewritt

[2019-08-01 21:12] Avasil commented on #94
Good catch @voidconductor ! Will fix it before the next release

[2019-08-14 03:36] allantl opened #101 "Consumer can be rebalanced if poll is not called before `max.poll.interval.ms`"
Starting from Kafka 0.10.1.0, there is `max.poll.interval.ms` setting:

The maximum delay between invocations of poll() when using consumer group management. This places an upper bound on the amount of time that the consumer can be idle before fetching more records. If poll() is not called before expiration of this timeout, then the consumer is considered failed and the group will rebalance in ord

[2019-08-14 09:50] Avasil commented on #101
Thanks!
I will leave the issue open, we will have to do something similar

[2019-08-14 09:51] Avasil commented on #93
fixed in #95

[2019-08-14 09:51] #93 closed

[2019-08-19 19:59] voidconductor commented on #94
I've recently tried to fix this, and it turned out to be harder than I thought.

Looks like apache kafka client puts callbacks passed to `commitAsync` to some internal queue and invokes them on consumer's `poll`.

So naive solution with `Task.create` doesn't even pass tests, probably because `poll` won't be called before commit callback completes and lets observable to run on

[2019-08-22 10:17] Avasil commented on #94
In this case, I think we could either include a comment about it or return a `Fiber` which can be joined.

I assume we can't cancel commit so perhaps even `Task[Task[Unit]]` instead of `Task[Fiber]`

[2019-09-12 20:40] aksharp opened #112 "Monix 3.0 / Scala 2.13"
Monix 3.0 / Scala 2.13 release?

[2019-09-14 12:21] Avasil opened #114 "Handle Scala 2.13 deprecations"
Scala 2.13 has few deprecations related to `Map.mapValues` and `JavaConverters`, we probably need something similar to:

https://github.com/monix/monix/blob/master/monix-execution/shared/src/main/scala_2.13-/monix/execution/compat.scala

so we can fully reuse sources between versions.

I didn't include it in #113 and just disabled fatal warnings for now

[2019-09-14 12:23] #70 closed

[2019-09-15 20:07] Avasil opened #116 "Create benchmarking module"
It would be useful to have a convenient way to run benchmarks to watch for regressions and potentially improve performance even further. I think there are few low-hanging fruits but I don't know for sure without measuring.

I'm not sure what's the best way, perhaps docker images. I will have to look around to see what others are using in different libraries, blog posts etc.

[2019-09-15 20:36] Avasil commented on #112
@aksharp `1.0.0-RC5` should be released for both Monix 3.0 and Scala 2.13

[2019-09-15 20:36] #112 closed

[2019-10-03 16:21] yeryomenkom opened #128 "How to detect KafkaProducerSink failures?"
Hi!
I use the same approach for producing kafka records that is described in the documentation:
[code]

But, in case if serialization error occurs, the `Future` object that I get from the `runToFuture` method completes without any failure. Such behavior looks strange to me.
I am not a very experienced user of monix. So, maybe I am doing something wrong.

Thank you for your help!)

[2019-10-03 16:42] Avasil commented on #128
Hello @yeryomenkom - what kind of failure do you have?
Is it `null` from custom Kafka Serializer or an exception?

[2019-10-04 07:34] yeryomenkom commented on #128
It is exception in serializer.
Here is my `Serde`:
[code]

[2019-10-04 11:46] #24 closed

[2019-10-04 12:05] Avasil commented on #128
`KafkaProducerSink` logs and then ignores errors when the message is sent.
I don't know what was the motivation but I think we could add an option to provide a custom exception handler which could allow failing the producer.

In the meantime, you could pass it already serialized messages or use `KafkaProducer` directly. Alternatively, copy existing implementation but use this in `onNext`:

[code]

[2019-10-05 19:23] Avasil opened #129 "Remove redundant executeAsync in parallel operators in tests"
It is no longer necessary because async boundaries should be inserted automatically

[2019-10-05 19:24] Avasil opened #130 "Change map + errorHandle to Task.redeem"
I saw `map` + `onErrorHandle` in `KafkaProducerSink`. Possibly more places.
Now Monix Task has `redeem` and `redeemWith` which can do it in one go so it is slightly more efficient.

[2019-10-06 09:01] amitrai48 commented on #129
Hey Avasil, I would like to pick this issue.

[2019-10-06 09:42] #130 closed

[2019-10-06 10:46] amitrai48 commented on #116
Hey Avasil, I will try to pick this up. I will start with checking some other repos and going through micro-benchmarkings for Kafka in general.

[2019-10-06 10:47] #129 closed

[2019-10-07 14:35] yeryomenkom commented on #128
Not really... I don't wanna copy paste library's code into my project... I would rather change the current behavior of the library.

@maxstreese

[2019-10-07 16:18] Avasil commented on #128
I mean the library will allow to customize it in the next release but I'm listing a couple of possible workarounds until it happens

[2019-10-07 19:47] yeryomenkom commented on #128
I see. I think it is not a problem for us to wait for the next release. Thank you for your help.

[2019-12-02 13:33] Avasil commented on #128
Hi @fdilg would you mind opening a PR with a progress that you made with this task on ScalaSpree if you still have it? It's okay if it's unfinished and you don't have time/energy to complete it, I can finalize it
I'd love to release soon with this change

[2019-12-03 07:24] fdilg commented on #128
I created PR #150 , but I couldn't figure out why the tests for it are failing.

[2019-12-03 10:57] Avasil commented on #128
Thank you @fdilg :)

[2020-03-10 19:32] yeryomenkom commented on #90
I wanna open this again because https://github.com/monix/monix-kafka/pull/115 does not fix the issue.

[2020-03-10 22:45] Avasil commented on #90
@yeryomenkom I am on vacation right now, I will take a look in about a week and see what can we do. Thanks for raising it

[2020-03-11 20:52] yeryomenkom opened #175 "Add monix.kafka.KafkaConsumerConfig.observableSeekToBeginningOnStart"
Currently we have ability to seek to the end of partitions (via specifying  `monix.kafka.KafkaConsumerConfig.observableSeekToEndOnStart` field).

I think it would be nice to have ability to seek to the beginning also.

Any reasons why it wasn't implemented initially?

[2020-04-02 17:12] #128 closed

[2020-04-07 20:27] #90 closed

[2020-04-07 20:27] #175 closed

[2020-04-09 14:28] yeryomenkom opened #182 "How to detect consumption error while using `KafkaConsumerObservable`?"
Hi!
I couldn't find any test in the lib source that tests the behaviour of KafkaConsumerObservable in case of kafka shutdown. Can you explain me when KafkaConsumerObservable should fail?
Currently I am not able to make KafkaConsumerObservable fail...

[2020-04-09 19:55] Avasil commented on #182
It could fail if [poll](https://kafka.apache.org/10/javadoc/org/apache/kafka/clients/consumer/KafkaConsumer.html#poll) fails so you could try replicating one of the conditions

[2020-04-09 22:26] yeryomenkom commented on #182
Yeah. I saw it in the code.
But in general I am expecting that this test should pass: https://github.com/monix/monix-kafka/pull/183/files

[2020-04-13 17:30] cakper opened #186 "ConsumerObservable doesn't propagate the cancellation"
During the upgrade to `1.0.0-RC5` we've noticed that the consumer keeps pooling messaged after it was terminated. A minimal reproduction case was added to this PR:
https://github.com/monix/monix-kafka/compare/master...cakper:cancelable-repro?expand=1

I've noticed that if the `doAfterSubscribe` is set before `bufferTimedWithPressure` then the consumer is not terminated properly, but if I change it

[2020-04-18 11:13] Avasil commented on #182
It seems like `consumer.poll` hangs if there is no conenction:

[code]

We probably have to listen for shutdown in a separate thread

[2020-06-15 10:15] paualarco opened #202 "Web documentation 📖"
Looking at how nice and organised the documentation of other monix projects (bio and connect) looks like, thought that it could be a good idea to migrate kafka documentation on the web too.

And while migrating it, there are some points that could be added as well such like producer and consumer configurations, how different ser/de are handled in monix-kafka, avro schema registry and finally some

[2020-06-15 10:42] Avasil commented on #202
Yes, the main issue is that someone needs to write it and it's very low on my personal priorities atm. Writing docs for `monix-bio` is already draining me :D

[2020-06-15 11:11] paualarco commented on #202
If you thing it is a good idea, I can just do it.
For the moment would just aim to migrate the actual documentation on the web, and later on to add the possible new content as mentioned in the description?
That could include migrating to github actions and automated releases too.

[2020-06-15 11:37] Avasil commented on #202
If you're interested in it then of course, it would be great!

[2020-06-15 11:47] alexandru commented on #202
@paualarco would be great ❤️

Btw, I can help out with providing sub-domains of `monix.io`. @Avasil if you want I can provide access to the DNS settings on Cloudflare.

Not sure if you prefer for the docs to remain on https://monix.github.io/monix-bio/ or if you'd like `bio.monix.io`.

[2020-06-15 12:20] Avasil commented on #202
It's not important to me right now but I'd like to have everything under one domain eventually (perhaps in a common design?).

I was thinking about `https://monix.io/docs/monix-bio`, `https://monix.io/docs/monix-connect` etc. Could be without `monix` prefix but I'm not sure how to call `monix/monix` (probably something like `core`) and if it's hard to setup common docs in multirepo

[2020-06-17 22:02] paualarco commented on #202
That would be perfect :)
Having a separate project to abstract the generic web configuration would be ideal.

[2020-11-25 11:02] girishc13 opened #238 "Seek to beginning executes before getting partition assignments"
https://github.com/monix/monix-kafka/pull/179 introduced seekToBeginning but this task executes before any partitions get assigned to the subscription.

[2020-12-14 21:02] fchaillou opened #240 "Failing to commit offset at the end of the Observable"
Hello,
I'm using monix-kafka's `KafkaConsumerObservable.manualCommit` consumer to consume data from kafka in a batch application.
We consume data until there is no more (using `.timeoutOnSlowUpstreamTo(5.seconds, Observable.empty)` to detect the end).
I'm processing the data and at the end of the Observable (but still part of the Observable), i commit the offset with a CommitableBatch.

The commit

[2020-12-30 01:36] girishkolantra opened #244 "KafkaConsumerObservable and its subclasses use KafkaConsumer (implementation) instead of Consumer (interface)"
Use of the implementation instead of the interface as follows

[code]

would make integration with tracing libraries like zipkin more difficult. Using the Consumer interface instead would allow for easy integration with tracing libraries

[2020-12-30 08:55] Avasil commented on #244
How would that work?

I think none of the Consumer interface methods are actually implemented by `KafkaConsumerObservable`, all of it is delegated to actual `KafkaConsumer`.

There is a constructor that allows to pass `KafkaConsumer` by the caller:

[code]

I didn't use these tracing libraries but if they wrap Kafka Consumer, couldn't we pass this wrapped tracing consumer to the `KafkaConsumerObse

[2020-12-30 09:52] girishkolantra commented on #244
The zipkin tracing library has a tracing consumer that decorates a Consumer[K, V]. So if the apply method in the KafkaConsumerObservable accepted the interface, the integration would be seemless

[2020-12-30 10:07] Avasil commented on #244
Ahh, sorry, I misunderstood.

Yes, in this case, the change would be very useful! Not binary compatible but we don't provide a guarantee here so it's fine

[2021-01-01 18:16] #244 closed

[2021-01-01 19:05] Avasil commented on #244
@girishkolantra @arun0009

I've released a SNAPSHOT with your changes: `1.0.0-RC6-c7231f9-SNAPSHOT`

Let me know if that works out for you, or if you need anything more to be included in a proper release.

Thank you for the PR!

[2021-01-11 10:56] #114 closed

[2021-01-24 17:10] paualarco opened #249 "Explicit signature for `KafkaObservableConsumer.autoCommit`"
Hello!

The current the way to create a kafka autocomit consumer observable is by using the `apply` method from
`KafkaConsumerObservable`, to me it would be more explicit to have a separated signature for that purpose which would be `autoCommit`.

Also I think that the current public method `createConsumer(): Task[Consumer[K, V]]` could be private, since it should only be used internally.

What ar

[2021-01-25 00:26] paualarco commented on #240
Hello @fchaillou,

Not sure what were you trying to achieve with this example... However I think that is not correctly formulated.

In the test, the observable is set to fail if in 5 seconds in those cases where we have not received the next element (which will always fail since you are only sending two messages). On the other hand the `fold` operator will keep expecting messages until the downstr

[2021-01-29 15:32] fchaillou commented on #240
Hello @paualarco,
This example is just a simplification of code we're using in prod with the exact same logic which works as expected :
The observable is finishing properly except for the `commitAsync` (in prod right now we worked around the issue by recreating a new consumer that just does the commit which works with some limitations)

Basically, the topic we're reading from is populated in batch

[2021-07-16 20:34] tfreiling-livongo opened #287 "KafkaConsumerConfig and KafkaProducerConfig apply helpers do not properly set properties"
When you set KafkaConsumerConfig(source= someTypesafeConfig) you would expect that the configs that are not explicitly set by monix KafkaConsumerConfig would get passed onto properties, but that is not the case as it is being set to empty:
https://github.com/monix/monix-kafka/blob/master/kafka-0.11.x/src/main/scala/monix/kafka/KafkaConsumerConfig.scala#L439
Similarly with KafkaProducerConfig.

[2021-09-18 10:44] paualarco commented on #287
Hi @tfreiling-livongo,

Thanks for raising the issue, I think this could be worth implementing, though it would be an enhancement since the properties can always be overwritten from the config class.

The purpose of the `properties` config is to provide extra properties that are not captured by the config class , however most of the common used ones are already explicitly defined. Could tell what

[2021-09-18 21:45] paualarco commented on #240
hi @fchaillou, sorry for the late response, I think I did not understood the issue when I saw it from first time.
I have been thinking, and a posible solution to delay the closure of the consumer might be to use it under the usage of a `Resource`.  In that case we would not close it on completion of the observable, which will allow to do a final offset commit.

This is a rough solution of what I c

[2021-09-18 21:58] paualarco commented on #240
It should also fix this https://github.com/monix/monix-kafka/issues/186

[2021-10-02 16:14] paualarco commented on #249
Closing there was no interest, probably the current apply method is generic enough and this signatures is not necessary.

[2021-10-02 16:14] #249 closed

[2022-04-04 10:16] #75 closed